:root {
    --clr-333-b2: #333333b2;
    --clr-fff: #ffffff;
    --clr-000: #000000;
    --clr-gray: #707070;
    --clr-333: #333333;
    --clr-333-1A: #3333331a;
    --clr-blue: #4762ff;
    --clr-green: green;
    --clr-red: red;
    --clr-333-99: #33333399;
    --clr-333-cc: #333333cc;
    --clr-000-1a: #0000001a;
  }